img {
width: 100%;

}

body {
background: #fff;
}

.row {
display: flex;
flex-wrap: wrap;
padding:  0 10px 
}

/* Create four fucking equal columns that sits next to each other */

.column {
 flex: 25%;
 max-width: 25%;
 padding: 0 5px;
}

.column img {
margin-top: 15px;
vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */

@media (max-width: 800px) {
.column {
flex: 50%;
max-width: 50%;
}
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */

@media (max-width: 800px) {
.column {
flex: 100%;
max-width: 100px
}
}


.secondpart {
width: 100%;
padding: 30px;
background-color: 	#65737e;
}

 p.secondp {
text-align: center;
font-size: 15px;
 }







/*-------------------------------------- footer ----------------------------------*/

h2 {
color: #000;
font-size: 40px;
text-align: center;
}

.aboutmepage {
    background-color: #fff;
    text-align: center;
    padding: 10%;
    color: #4c4c4c

}

.aboutmepage a.innericons {
color: #000;
}

p.footertext {
  font-family: 'Gothic A1', sans-serif;
font-size: 15px;
text-align: left;

}



hr {
color: #fff;
height: 10px;
}


i {
padding: 5px;
}

.aboutmetitle {
 font-family: 'Gugi', cursive;
 font-size: 45px;
 text-align: center;
}

/*-------------- Navbar -----------------------*/
a.nav-link {
    font-family: 'Gugi', cursive;
    }
     .navbar .navbar-brand {
         color: #000;
         font-weight: bold;
         font-family: 'Gugi', cursive;
       
    }
    
    .navbar-collpase {
        display: flex;
        justify-content: center;
        
        }
    
    .navbar .navbar-nav .nav-link {
     font-family: 'Gugi', cursive;
    color: #000
    }
    
    li.nav-item{
        border:none;
        position: relative;
      }
      li.nav-item:hover{
        border: none;
      }
      li:hover {
        border-bottom: 5px solid #FFFFFF;
      }
      .nav-item::after{
        content: '';
        position: absolute;
        width: 0px;
        height: 5px;
        left: 50%;
        bottom:0;
        background-color: #000;
        transition: all ease-in-out .2s;
      }
      .nav-item:hover::after{
        width: 100%;
        left: 0;
      }
    
      .navbar .navbar-nav .nav-link {
        font-family: 'Orbitron', sans-serif;
        font-size: 15px;
        
      }

      /* .navbar-toggler-icon {
      color: #000
      } */


      .container.gallery-container {
        background-color: #fff;
        min-height: 100vh;
        padding: 30px 30px 30px 30px;
        width: 100%;
       
      }
      
      
      h5.gallerytitle {
      text-align: center;
      font-family: 'Gugi', cursive;
      color: #fff;
      font-size: 25px
      }
      
      p.gallerytext {
        text-align: center;
        font-family: 'Gugi', cursive;
        font-size: 10px;
        color: #fff
      }

      .navbar-light .navbar-toggler {
        color: rgba(0,0,0,.5);
      }
    
    

    h4 {
      text-align: center;
      font-family: 'Gugi', cursive;
      font-size: 30px

    }

    #part1 {
    padding-top: 80px
    }

    #part2 {
    padding-top: 80px
    }

    #part3 {
    padding-top: 80px
    }

    #part4 {
    padding-top: 80px
    }

    #footerpart {
      padding-top: 80px
    }

    .logo {
      padding-bottom: 30px
    }

    a {
      color: #000
    }

    a :hover {
      color: #E75480
    }

    .skills {
      width: 400px;
      height: 600px;
    }

    .aboutmehr{
      border: none;
      height: 5px;
      color: #d3d3d3; 
      background-color: #d3d3d3;
      width: 50px;
      margin-top: 30px;
      margin-bottom: 30px
    }

    .progress {
    margin: 40px;
    
    }

    .progress-bar {
      background-color: #262626;
    }

    .copyright {
      text-align: center;
      font-family: 'Gothic A1', sans-serif;
      font-size: 15px;
    }

    .spinner:before {
      content:"";
      box-sizing: border-box;
      position: absolute;
      top: 50%;
      left: 50%;
      height: 60px;
      width: 60px;
      margin-top: -30px;
      margin-left: -30px;
      border-radius: 50%;
      border-top: 2px solid coral;
      border-right: 2px solid transparent;
      animation: spinner 0.7s linear infinite;
    }

    @keyframes spinner {
      to {
        transform: rotate(360deg);
      }
    }