a.nav-link {
    font-family: 'Gugi', cursive;
    }
     .navbar .navbar-brand {
         color: #000;
         font-weight: bold;
         font-family: 'Gugi', cursive;
       
    }
    
    .navbar-collpase {
        display: flex;
        justify-content: center;
        
        }
    
    .navbar .navbar-nav .nav-link {
     font-family: 'Gugi', cursive;
    color: #000
    }
    
    li.nav-item{
        border:none;
        position: relative;
      }
      li.nav-item:hover{
        border: none;
      }
      li:hover {
        border-bottom: 5px solid #FFFFFF;
      }
      .nav-item::after{
        content: '';
        position: absolute;
        width: 0px;
        height: 5px;
        left: 50%;
        bottom:0;
        background-color: #000;
        transition: all ease-in-out .2s;
      }
      .nav-item:hover::after{
        width: 100%;
        left: 0;
      }
    
      .navbar .navbar-nav .nav-link {
        font-family: 'Orbitron', sans-serif;
        font-size: 15px;
        
      }

      
      
      .navbar-light .navbar-toggler {
        color: rgba(0,0,0,.5);
      }

      body {
        background-color: #000;
        color: #fff
        }
        
        
        
        
        .line {
            position: relative;
            font-family: 'Gugi', cursive;
            padding-top: 200px;
            width: 24em;
            margin: 100px auto;
            margin-bottom: 0px;
            border-right: 2px solid rgba(255, 255, 255, 0.75);
            font-size: 250%;
            text-align: center;
            white-space: nowrap;
            overflow: hidden;transform: translateY(-10%);
        }
        
        .anim-typewriter {
        animation: typewriter 4s steps(35) 1s 1 normal both,
        blinkTextCursor 500ms steps(35) infinite normal;
        
        }
        
        @keyframes typewriter {
            from {
                width: 0;
            }
            to {
                width: 16em;
            }
        }
        
        @keyframes blinkTextCursor {
            from {
                border-right-color: rgba(255, 255, 255, 0.75);
            }
            to {
                border-right-color: transparent;
            }
        }
        
        #demo{
            font-weight: lighter;
            letter-spacing: 5px;
            font-family: 'Gugi', cursive;
            text-align: center;
            margin-top: 10px;
            margin: 0 auto;
           }

           hr {
           
               width: 20%;
               border: 1.5px solid #fff;
           }